<launch>

    <arg name="rviz" default="true"/>
    <arg name="base_path" default="$(find fast_limo)"/>
    <arg name="use_loop_closure" default="true"/>


    <node pkg="fast_limo" type="fast_limo_multi_exec" name="fast_limo" output="screen" >
        <!-- <rosparam file="$(find fast_limo)/config/hesai.yaml" /> -->
        <!-- <rosparam file="$(find fast_limo)/config/hesai_stable_v1.yaml" /> -->
        <rosparam file="$(find fast_limo)/config/hesai_stable_v2.yaml" />
        <!-- <rosparam file="$(find fast_limo)/config/hesai_unstable.yaml" /> -->
        <param name="base_path" value="$(arg base_path)"/>
    </node>


    <node pkg="rviz" name="rviz_limo_loop_closure" type="rviz" args="-d $(find fast_limo)/config/rviz/limo_loop_closure.rviz"/>
    <node pkg="rviz" name="rviz_limo" type="rviz" args="-d $(find fast_limo)/config/rviz/limo.rviz"/>

    <!-- add detailed debug and error trace -->
    <launch-prefix>gdb -ex run --args</launch-prefix>

    
</launch>