<launch>

    <arg name="rviz" default="true"/>
    <arg name="base_path" default="$(find fast_limo)"/>

    <node pkg="fast_limo" type="fast_limo_multi_exec" name="fast_limo" output="screen">
        <rosparam file="$(find fast_limo)/config/hesai.yaml" />
        <param name="base_path" value="$(arg base_path)"/>
    </node>

    <node pkg="rviz" name="rviz_limo" type="rviz" args="-d $(find fast_limo)/config/rviz/limo.rviz" if="$(arg rviz)"/>

</launch>